.side-bar
  .side-bar__user-name
    .side-bar__user-name__side-box
      = current_user.name
      .side-bar__user-name__side-box_register
      .side-bar__user-name__side-box__icon
        .side-bar__user-name__side-box__icon__new-group
          = link_to new_group_path ,class: "contents__btn" do
            %i.fas.fa-edit
        .side-bar__user-name__side-box__icon__edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__entire
        = link_to group_messages_path(group) do
          .side-bar__group-list__name
            = group.name
          .side-bar__group-list__latest-message
            = group.show_last_message